<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{{ title }}{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- GLOBAL STYLES -->
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet">
	<!--<link rel="stylesheet" href="/static/lib/bootstrap/dist/css/bootstrap.min.css" type="text/css" />-->
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" />

	<!-- PAGE STYLES -->
	{% block css %}{% endblock %}
</head>
<body>
{% if message %}
<p>{{ message }}</p>
{% endif %}

{% include "navbar.html" %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col-lg-12">
			{% block content_inner %}{% endblock %}
		</div>
	</div>
</div>
{% endblock %}

{% include "foobar.html" %}

<!-- GLOBAL JS -->
<!--<script src="/static/lib/jquery-2.0.3.min.js"></script>-->
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
<!--<script src="/static/lib/jquery-ui-1.10.3.min.js"></script>-->
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<!--<script src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>-->
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<script src="/static/lib/noty/js/noty/jquery.noty.js"></script>
<script src="/static/lib/noty/js/noty/layouts/topRight.js"></script>
<script src="/static/lib/noty/js/noty/themes/default.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/holder/2.0/holder.min.js"></script>
<script src="/static/lib/swig.min.js"></script>
<script src="/static/js/main.js"></script>

<!-- PAGE JS -->
<script src="//maps.googleapis.com/maps/api/js?key={{ GOOGLE_MAPS_KEY }}&sensor=false"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/static/js/socket.js"></script>
<script src="/nohm/validations.js"></script>
{% if user %}
<script>var user = window.user = {{ user.values()|json|safe }};</script>
{% endif %}
{% block js %}{% endblock %}
</body>
<!--
 _
//\
V  \
 \  \_
  \,'.`-.
   |\ `. `.
   ( \  `. `-.                        _,.-:\
    \ \   `.  `-._             __..--' ,-';/
     \ `.   `-.   `-..___..---'   _.--' ,'/
      `. `.    `-._        __..--'    ,' /
        `. `-_     ``--..''       _.-' ,'
          `-_ `-.___        __,--'   ,'
             `-.__  `----"""    __.-'
                  `--..____..--'

-->
</html>