{% extends "base.html" %}

{% block content %}
<div id="map-canvas" data-lat="{{ user.p('lat') }}" data-lng="{{ user.p('lng') }}"></div>
<div id="geodecode-div" class="well">
	{% if !user.p('coords') %}
	<h5>Looks like you haven't setup your profile yet!</h5>
	<a href="/account/profile/" class="btn btn-default">Setup profile</a><br /><br />
	{% endif %}
	<form class="form-horizontal">
		<div class="form-group">
			<label for="geodecode">Search for location</label>
			<input type="text" id="geodecode" class="typeahead form-control" />
		</div>
	</form>
</div>
{% endblock %}

{% block js %}
<script src="/static/lib/typeahead.js/typeahead.min.js"></script>
<script src="/static/js/dashboard.js"></script>
{% endblock %}