<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
			<h4 class="modal-title">Select images</h4>
		</div>
		<div class="modal-body">
			{% for image in images %}
			<div class="media" style="display: inline-block;">
				<a href="javascript://" data-id="{{ image.id }}" data-extension="{{ image.extension }}">
					<img class="media-object" src="{{ image.thumb }}" title="{{ image.title }}">
				</a>
			</div>
			{% endfor %}
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>