{% extends "base.html" %}

{% block content %}
<div class="container">
	<div class="page-header">
		<div class="pull-right"><img src="/static/img/oak.sm.jpg" title="I'm watching you.." /></div>
		<h2>
			{% if person.selfie() %}
				<img src="{{ person.selfie() }}" class="img-thumbnail img-responsive" />
			{% endif %}

			{% if person.p('first_name') %}
				{{ person.p('first_name') }}
				<small>{{ person.p('username') }}</small>
			{% else %}
				{{ person.p('username') }}
			{% endif %}
		</h2>
	</div>
	<div class="row">
		<div class="col-xs-3">
			<a href="http://imgur.com/user/{{ person.p('username') }}" target="_blank" class="btn btn-default btn-block">Imgur gallery profile</a>
		</div>
		<div class="col-xs-9">
			<h3>Profile</h3>
			<hr />
			<div class="form-horizontal">
				<div class="form-group">
					<label class="col-xs-4 control-label">Gender</label>
					<div class="col-xs-8">
						<p class="form-control-static">{{ person.type() }}</p>
					</div>
				</div>
				{% if person.p('badges') %}
				<div class="form-group">
					<label class="col-xs-4 control-label">Personal tags</label>
					<div class="col-xs-8">
						<p class="form-control-static">{{ person.badges()|join(', ') }}</p>
					</div>
				</div>
				{% endif %}
				{% if person.p('useless') %}
				<div class="form-group">
					<label class="col-xs-4 control-label">Expectations</label>
					<div class="col-xs-8">
						<p class="form-control-static">{{ person.p('useless') }}</p>
					</div>
				</div>
				{% endif %}
			</div>

			{% if person.p('coords') %}
				<h3>Location</h3>
				<hr />
				<a href="/#{{ person.p('lat') }}:{{ person.p('lng') }}" title="Find on the map">
					<img src="http://maps.googleapis.com/maps/api/staticmap?center={{ person.p('lat') }}+{{ person.p('lng') }}&zoom=13&size=600x300&maptype=roadmap&markers=color:black%7Clabel:X%7C{{ person.p('lat') }},{{ person.p('lng') }}&sensor=false" />
				</a>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block js %}
<script src="/static/lib/jquery.editable.min.js"></script>
<script src="/static/js/user.js"></script>
{% endblock %}