html,
body {
  min-height: 100%;
}
body {
  padding: 80px 0;
}
.navbar-nav > li > a {
  padding-top: 6px;
  padding-bottom: 6px;
}
.navbar-puffy li + li {
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .navbar-puffy a {
    width: 100%;
  }
  .navbar-text {
    text-align: center;
  }
}
#map-profile {
  height: 400px;
}
.twitter-typeahead {
  width: 100%;
}
.tt-hint {
  display: none;
}
.tt-dropdown-menu {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 12px;
  padding: 4px 0;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.tt-suggestion {
  padding: 2px 20px;
  line-height: 20px;
}
.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;
}
.tt-suggestion p {
  margin: 0;
}
