.navbar-puffy li + li {
  margin-left: 10px;
}
@media screen and (max-width: 768px) {
  .navbar-puffy button {
    width: 100%;
  }
  .navbar-text {
    text-align: center;
  }
}
#map-canvas {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
#geodecode-div {
  padding: 10px 20px;
  max-width: 300px;
  margin: 0 80px;
  position: absolute;
}
#geodecode-div .form-group {
  margin: 0;
}
#profile-geodecode {
  position: relative;
}
#profile-geodecode #geodecode-div {
  top: 20px;
}
#map-profile {
  height: 400px;
}
.twitter-typeahead {
  width: 100%;
}
.tt-hint {
  display: none;
}
.tt-dropdown-menu {
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 12px;
  padding: 4px 0;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.tt-suggestion {
  padding: 2px 20px;
  line-height: 20px;
}
.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;
}
.tt-suggestion p {
  margin: 0;
}
